{% extends "base.html.jinja" %}

{% block title%}| Spotify Tastes{% endblock %}
{% block header%}Spotify Tastes{% endblock %}

{% block content%}
<div class="row justify-content-center">
    <div class="p-2 mb-4 bg-body-tertiary rounded-3 col-10">
        <div class="container-fluid py-5">
            <div class="col-md-12">
                <div class="row mt-5">
                {% if results.no_token %}
                    <div id="no-spotify"></div>
                {% else %}
                    <div id="spotify"></div>
                {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<script src="{{ url_for('static', filename='dist/spotifyIndex.bundle.js') }}"></script>
{% endblock%}