{% extends "base.html.jinja" %}

{% block title%}| URL Shortener {% endblock %}
{% block header%}URL Shortener{% endblock %}

{% block content%}
<div class="row justify-content-center">
    <div class="p-2 mb-4 bg-body-tertiary rounded-3 col-10">
        <div class="container-fluid py-5">
            <div class="col-md-12">
                <div id="urls"></div>
                <div class="toast-container position-fixed bottom-0 end-0 p-5">
                    <div class="toast align-items-center" id="liveToast" role="alert" aria-live="assertive"
                        aria-atomic="true">
                        <div class="d-flex">
                            <div class="toast-body" id="toasting">
                                Copied!
                            </div>
                            <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast"
                                aria-label="Close"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<script src="{{ url_for('static', filename='dist/urlIndex.bundle.js') }}"></script>
{% endblock%}