{% extends "base.html.jinja" %}

{% block title%}| Pig Latin Decoder {% endblock %}
{% block header%}Pig Latin Decoder{% endblock %}

{% block content%}
<div class="row justify-content-center">
    <div class="p-2 mb-4 bg-body-tertiary rounded-3 col-10">
        <div class="container-fluid py-5">
            <div class="col-md-12">
                <p>The motivation for this comes from The <a
                        href="https://nostarch.com/big-book-small-python-projects">Big Book of Small Python
                        Projects</a>. This is a riff on <a
                        href="https://inventwithpython.com/bigbookpython/project54.html">#54,
                        Pig Latin.</a></p>
                <p>To read more about the rules of of Pig Latin, as always, refer to the Wikipedia page. As there is
                    some flexibility with respect to how the rules are implemented, here are some things to know about
                    this encoder: </p>
                <ul>
                    <li>Digits (e.g., <code>3ay</code>) are not decoded. If you want them decoded, provide the
                        string-literal
                        representation (e.g., <code>eethray</code>)</li>
                    <li>Title-case is preserved (e.g., <code>Estay</code> becomes <code>Test</code>)</li>
                    <li>Capital-case is preserved (e.g., <code>IACay</code>
                        becomes <code>CIA</code>)</li>
                    <li>The decoder cues in on <code>way</code> as the suffice to words that begin with a vowel
                    <li>Punctuation is preserved (e.g., <code>hatway????</code> becomes <code>what????)</code></li>
                </ul>
                <p>If you have any issues at all, please <a href="https://www.jsulz.com/contact">contact me</a>!</p>
                <p><strong>Note:</strong> Want to encode a message? Head over to the <a href="/pig-latin-encoder">Pig
                        Latin Encoder</a>.</p>
                <form action="/pig-latin-decoder" method="POST">
                    <div class="mb-3">
                        <label for="message" class="form-label">Message to Decode</label>
                        <textarea class="form-control" id="message" rows="5" name="message" required></textarea>
                    </div>
                    <input type="submit" value="Decode!">
                </form>
                {% if results %}
                <div class="mt-5">
                    {% if results.digits_error %}
                    <p>Sorry, one of the values entered contains a digit. The pig latin encoder will only decode
                        strings. So you are aware, these were the values that weren't decoded:</p>
                    <ul>
                        {% for digit in results.digits %}
                        <li>{{ digit }}</li>
                        {% endfor %}
                    </ul>
                    <p>The encoded message below includes these numbers without any modification.</p>
                    {% endif %}
                    {% if results.invalid_error %}
                    <p>One or more of the words in the encoded message could not be found in the <a
                            href="https://en.wikipedia.org/wiki/Enchant_(software)">internal dictionary</a> we use. If
                        the word could not be found, it was not decoded. So you are aware, these are the words that
                        weren't decoded: </p>
                    <ul>
                        {% for invalid in results.invalid %}
                        <li>{{ invalid }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    <h2>Decoded message</h2>
                    <p style="white-space:pre-wrap" class="user-select-all">{{ results.decoded }}</p>
                    <button type="button" id="copy-select-all" class="btn btn-primary">Click to copy the encoded
                        message!</button>
                    <div class="toast-container position-fixed bottom-0 end-0 p-5">
                        <div class="toast align-items-center" id="liveToast" role="alert" aria-live="assertive"
                            aria-atomic="true">
                            <div class="d-flex">
                                <div class="toast-body">
                                    Copied!
                                </div>
                                <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast"
                                    aria-label="Close"></button>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
</div>
{% endblock%}