{% extends 'base.html.jinja' %}
{% block header %}404{%
endblock %}
{% block content %}
<div class="row justify-content-center">
    <div class="p-2 mb-4 bg-body-tertiary rounded-3 col-10">
        <div class="container-fluid py-5">
            <div class="col-md-12">
                <p>Whoops! You came across a URL that no longer works. Sorry for that. Please head back <a
                        href="/">home</a> or peruse any of these fine 404 pages from other websites. I love a good
                    Easter egg:</p>
                <ul>
                    <li><a href="https://github.com/thisisnotthepageyourlookingfor">GitHub - Octocat Jedi!</a>
                    </li>
                    <li><a href="https://www.spotify.com/us/thisisnotthepageyourlookingfor/">Spotify spinning
                            vinyl</a> (that's all HTML and CSS!)</li>
                    <li><a href="https://css-tricks.com/thisisnotthepageyourlookingfor">CSS Tricks</a> (speaking
                        of just
                        CSS)</li>
                    <li><a href="https://dribbble.com/thisisnotthepageyourlookingfor">Dribble</a> of course
                        they'd have
                        something pretty and fun.</li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}