{% extends "base.html.jinja" %}
{% block title%}| Netflix Data Exploration{% endblock %}
{% block header%}
<div class="logo">
  <span>N</span>
  <span>E</span>
  <span>T</span>
  <span>F</span>
  <span>L</span>
  <span>I</span>
  <span>X</span>
</div>
{% endblock %}

{% block content%}
<div class="row justify-content-center">
    <div class="p-2 mb-4 rounded-3 col-10">
        <div class="container-fluid">
                <div id="netflix"></div>
            </div>
        </div>
    </div>
</div>
</div>
<script src="{{ url_for('static', filename='dist/netflixIndex.bundle.js') }}"></script>
{% endblock%}