{% extends "base.html.jinja" %}

{% block title%}| Playgrounds First React Component {% endblock %}
{% block header%}Playground's First React Component{% endblock %}

{% block content%}
<div class="row justify-content-center">
    <div class="p-2 mb-4 bg-body-tertiary rounded-3 col-10">
        <div class="container-fluid py-5">
            <div class="col-md-12">
                <p>Content Here</p>
                <div class="row mt-5">
                    <div id="react-component"></div>
                </div>
                {% if results %}
                <div class="mb-5 mt-5">
                    {% if results.error %}
                    <p>Sorry, the value you entered <mark>was not a number</mark>! Please try again.</p>
                    {% else %}
                    <p>Out of <mark>{{ results.trials }}</mark> trials, <mark>{{ results.total }}</mark> trials had at
                        least one shared birthday in the group of <mark>{{ results.people }}</mark>. That means in a
                        group of <mark>{{ results.people }}</mark> there's a <mark>{{ results.probability }}</mark>
                        chance there's at least one shared birthday.</p>

                    {% if results.people > 23 %}
                    <p>You're above the threshold to make the probability better than a coinflip!</p>
                    {% else %}
                    <p>These odds are still worse than a coin flip. Maybe increase the number of people in the group to
                        see what happens.</p>
                    {% endif %}

                    <img class="img-fluid" src='{{ results.chart_src }}' />
                    {% endif %}
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
</div>
<script src="{{ url_for('static', filename='dist/bundle.js') }}"></script>
{% endblock%}