{% extends "base.html.jinja" %}

{% block title%}| First React Component {% endblock %}
{% block header%}First React Component{% endblock %}

{% block content%}
<div class="row justify-content-center">
    <div class="p-2 mb-4 bg-body-tertiary rounded-3 col-10">
        <div class="container-fluid py-5">
            <div class="col-md-12">
                <p>This is the first React component that I wrote for this site. As such, it's delightfully simple; a
                    <code>Hello, world.</code> to adding a <a href="https://react.dev/">React</a> component to this
                    Flask website. Below is a form where
                    you can add a name, click <code>Add Hello</code> and see a bit of text appear. Magic! You can also
                    clear all of
                    the names you've added so far using the <code>Clear Hello(s)</code> button.
                </p>
                <p>This component, while simple, required quite a bit. First, <a
                        href="https://www.youtube.com/watch?v=BkHCO8f2TWs">just like making an apple pie from
                        scratch</a>, if you wish to make a React component, you must first invent the universe. In this
                    context, this required creating a <code>package.json</code> to manage my new JavaScript dependencies
                    (until now, I was only using <a href="https://python-poetry.org/">Poetry</a> for dependency
                    management, but Poetry is a Python dependency
                    manager which won't get me very far in this new JavaScript world, so <a
                        href="https://www.npmjs.com/">NPM</a> had to enter the fray).
                    Next, I had to integrate <a href="https://webpack.js.org/">Webpack</a> and
                    <a href="https://babeljs.io/">Bable</a> to help transpile and build my React code to JavaScript that
                    the browser could render.
                    Finally, I had to update my Dockerfile to install and bundle all of these new assets so that they
                    could be deployed to Google Cloud Run. Whew!
                </p>
                <div class="row mt-5">
                    <div id="react-component"></div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<script src="{{ url_for('static', filename='dist/bundle.js') }}"></script>
{% endblock%}