{% extends "base.html.jinja" %}

{% block title%}| MNIST + HTML Canvas Predictor{% endblock %}
{% block header%}MNIST + HTML Canvas Predictor{% endblock %}

{% block content%}
<div class="row justify-content-center">
    <div class="p-2 mb-4 bg-body-tertiary rounded-3 col-10">
        <div class="container-fluid">
            <div class="col-md-12">
                <div class="row mt-5">
                    <div class="container">
                        <div id="sketch">
                            <canvas id="mnist" style="height: 100px; width: 100px"></canvas>
                            <button class="btn btn-primary" onclick="helloWorld()">Predict</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock%}