{% extends "base.html.jinja" %}
{% block header %} <h1 style="font-weight: 800; font-size: 70px">Welcome to the Playground</h1> {%
endblock %}
{% block content %}
<div class="p-2 mb-4 bg-body-tertiary rounded-3">
    <div class="container-fluid py-5">
        <div class="col-md-10">
            <p class="lead">Hello, my name is <a href="https://www.linkedin.com/in/jaredsulzdorf">Jared Sulzdorf</a>,
                and this is my playground.
            <p>This small, spunky website is dedicated to exploring new technologies, tinkering with toy projects, and
                in general, just playing around. If you're curious, you can <a href="/about">read more about what's
                    going on under the hood</a>.</p>
            <p>Feel free to explore some of the sandboxes below and if you have any questions or just want to chat, <a
                    href="https://www.jsulz.com/contact">my blog's contact page</a> should point you in the right
                direction <i class="bi-emoji-smile"></i></p>
            </p>
        </div>
    </div>
</div>
{% endblock %}